/* Скидання відступів, полів і рамок */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Плавне прокручування */
html {
  scroll-behavior: smooth;
}

/* Забезпечення правильного відображення шрифтів */
body {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #7a7171;
  font-style: normal;
  line-height: 1.5;
  background-color: #fff;
}

/* Забезпечення однакового відображення зображень */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Забезпечення однакового відображення списків */
ul,
ol {
  list-style: none;
}

/* Забезпечення однакового відображення заголовків */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

/* Вирівнювання полів форми */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Забезпечення коректного відображення блоків, що мають поведінку inline-block */
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Скидання обробки кнопок */
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

/* ----- header ----- */

.header {
  padding: 9px 0 10px 0;
}

.header-container {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-nav-link-logo {
  width: 122px;
  height: 42px;
}

.header-nav-list {
  display: none;
}

.header-social {
  display: none;
}

.header-button-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {

  .header {
    padding: 19px 0 24px 0;
  }

  .header-container {
    min-width: 768px;
    justify-content: flex-end;
    padding: 0 40px;
  }

  .header-social {
    display: flex;
    margin-left: auto;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
  }

  .header-social-svg-use {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    fill: #36a74c;
  }

  .header-social-link {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #36A74C;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
  }

  .header-social-link:hover {
    background-color: #7a7171;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  }

  .header-social-svg-link {
    fill: #36A74C;
    width: 50%;
  }

  .header-social-svg-you {
    fill: #fff;
    width: 70%;
  }

  .header-social-svg-f {
    fill: #fff;
    width: 55%;
  }

  .header-social-svg-inst {
    fill: #fff;
    width: 50%;
  }

  .header-social-svg-use {
    fill: #fff;
  }

  .header-button-mobile {
    margin-left: 78px;
  }
}

@media screen and (min-width:1000px) {
  .header-button-mobile {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header-nav-list {
    display: flex;
    gap: 46px;
    font-weight: 400;
    font-size: 16px;
    color: #7a7171;
    transition: color 250ms ease-in-out;
    padding-left: 100px;
  }

  .header-nav-item-link:hover {
    color: #36a74c;
  }

  .header-nav-link-home {
    color: #36a74c;
  }

  .header-social {
    margin: 0;
  }
}

@media screen and (min-width:1440px) {
  .header {
    padding: 24px 0 30px 0;
  }

  .header-container {
    min-width: 1440px;
    padding: 0 70px;
    justify-content: space-between;
  }
}

/* ----- offer -----*/

.offer {
  padding: 15px 0 17px 0;
}

.offer-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offer-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.offer-title-span {
  color: #36a74c;
}

.offer-text {
  font-size: 18px;
  text-align: center;
  min-width: 280px;
  max-width: 510px;
}

@media screen and (min-width: 768px) {
  .offer {
    padding: 25px 0 17px 0;
  }

  .offer-container {
    min-width: 768px;
  }

  .offer-title {
    font-size: 48px;
  }

  .offer-text {
    font-size: 16px;
    max-width: 480px;
    line-height: 250%;
  }
}

@media screen and (min-width: 1440px) {

  .offer {
    padding: 30px 0 24px 0;
  }

  .offer-container {
    min-width: 1440px;
  }

  .offer-title {
    font-size: 64px;
  }

  .offer-text {
    font-size: 18px;
    max-width: 524px;
  }
}

/* ----- photo -----*/

.photo {
  padding: 17px 0;
}

.photo-container {
  margin: 0 auto;
  min-width: 278px;
  max-width: 684px;
  /* height: 142px; */
  overflow: scroll;
}

.photo-container-box {
  margin: 0 20px;
}

@media screen and (min-width: 768px) {
  .photo {
    padding: 17px 0 22px 0;
  }

  .photo-container {
    padding: 0 40px;
    min-width: 685px;
    max-width: 1300px;
    /* height: 162px; */
  }
}

@media screen and (min-width: 1440px) {
  .photo {
    padding: 24px 0 24px 0;
  }

  .photo-container {
    padding: 0 70px;
    max-width: 1301px;
  }
}

/* ----- onlineapp ----- */

.onlineapp {
  padding: 17px 20px 25px 20px;
}

.onlineapp-container {
  max-width: 280px;
  padding: 40px 18px;
  border-radius: 30px;
  background-color: #36a74c;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.onlineapp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onlineapp-title {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

.onlineapp-form-label {
  border-radius: 100px;
  background-color: #fff;
  width: 245px;
  /* height: 50px; */
  display: block;
  padding: 13px 0;
  margin-bottom: 25px;
}

.onlineapp-form-input {
  width: 245px;
  /* height: 50px; */
  font-size: 14px;
  /* text-transform: uppercase; */
  text-align: center;
  color: #7a7171;
}

.onlineapp-form-input::placeholder {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #c9c9c9;
}

.onlineapp-form-button {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #36a74c;
  border-radius: 100px;
  background-color: #fff;
  width: 245px;
  padding: 14.5px 45px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.onlineapp-form-button:hover {
  background-color: #7a7171;
  color: #fff;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .onlineapp {
    padding: 25px 40px 40px 40px;
  }

  .onlineapp-container {
    max-width: 688px;
    padding: 50px 107px;
  }

  .onlineapp-title {
    font-size: 24px;
  }

  .onlineapp-form-label {
    margin-bottom: 32px;
    padding: 21.5px 0;
    width: 474px;
  }

  .onlineapp-form-input::placeholder {
    font-size: 18px;
  }

  .onlineapp-form-input {
    width: 474px;
    font-size: 18px;
  }

  .onlineapp-form-button {
    font-size: 18px;
    padding: 21.5px 0;
    width: 474px;
  }
}

@media screen and (min-width: 1440px) {
  .onlineapp-container {
    max-width: 856px;
  }
}

/* ----- textlist ----- */

.textlist {
  padding: 25px 0;
}

.textlist-container {
  min-width: 320px;
  max-width: 767px;
  padding: 0 20px;
}

.textlist-list {
  display: flex;
  flex-direction: column;
}

.textlist-item {
  display: flex;
  gap: 35px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.textlist-item-img {
  width: 192px;
  height: 166px;
}

.textlist-item-text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #7a7171;
  min-width: 280px;
  max-width: 600px;
}

.textlist-title-cover {
  width: 100%;
}

.textlist-item-title {
  background-image: url("../images/textlist/vid-pole-dom-ferma-priroda.jpg");
  background-size: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .textlist {
    padding: 40px 0;
  }

  .textlist-container {
    min-width: 768px;
    max-width: 1439px;
    padding: 0 40px;
  }

  .textlist-list {
    display: flex;
    flex-direction: column;
  }

  .textlist-item {
    gap: 35px;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .textlist-item-text {
    text-align: left;
    /* width: 471px; */
    font-size: 16px;
    min-width: 471px;
    max-width: 767px;
  }

  .textlist-item-img-right {
    order: 1;
  }

  .textlist-item-title {
    font-size: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .textlist {
    padding: 70px 0;
  }

  .textlist-container {
    max-width: 1440px;
    padding: 0 69px;
  }

  .textlist-item {
    gap: 66px;
    margin-bottom: 70px;
  }

  .textlist-item-title {
    font-size: 96px;
  }

  .textlist-item-text {
    font-size: 24px;
    max-width: 1440px;
  }
}

/* ----- ourteam -----*/

.ourteam {
  padding: 25px 0 0 0;
  background-image: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%), url("../images/ourteam-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin: 0 auto;
}

.ourteam-container {
  min-width: 320px;
  max-width: 767px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.ourteam-title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #7a7171;
  margin-bottom: 25px;
}

.ourteam-title-span {
  color: #36a74c;
}

.ourteam-text {
  font-size: 14px;
  text-align: center;
  color: #7a7171;
  margin-bottom: 25px;
  min-width: 280px;
  max-width: 516px;
}

.ourteam-subtitle {
  font-size: 28px;
  text-transform: uppercase;
  color: rgba(122, 113, 113, 0.05);
  padding: 0 0 147px 0;
}

.ourteam-people-img {
  position: absolute;
  bottom: 0;
  height: 174px;
}

@media screen and (min-width:768px) {
  .ourteam {
    padding: 40px 0 0 0;
  }

  .ourteam-container {
    max-width: 768px;
    padding: 0 40px;
  }

  .ourteam-title {
    font-size: 36px;
    margin-bottom: 35px;
  }

  .ourteam-text {
    font-size: 16px;
    margin-bottom: 14px;
    width: 460px;
  }

  .ourteam-subtitle {
    font-size: 64px;
    padding: 0 0 322px 0;
  }

  .ourteam-people-img {
    height: 385px;
  }
}

@media screen and (min-width:1440px) {
  .ourteam {
    padding: 60px 0 0 0;
  }

  .ourteam-container {
    max-width: 1440px;
    padding: 0 33px;
  }

  .ourteam-title {
    margin-bottom: 50px;
  }

  .ourteam-text {
    font-size: 18px;
    margin-bottom: 0;
  }

  .ourteam-subtitle {
    font-size: 144px;
    padding: 0 0 305px 0;
  }

  .ourteam-people-img {
    height: 458px;
  }
}

/* ----- footer ----- */

.footer {
  background-color: #36a74c;
  ;
}

.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-first-box {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 1;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #fff;
  width: 280px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.footer-form-title {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #00ab21;
  padding: 40px 41px 0 41px;
  margin-bottom: 25px;

}

.footer-form-input {
  font-size: 14px;
  text-align: center;
  color: #36a74c;
  padding: 14px 0 14px 0;
  border-radius: 100px;
  border: 1px solid #36a74c;
  margin-bottom: 25px;
  width: 245px;
}

.footer-form-input::placeholder {
  color: #c9c9c9;
  text-transform: uppercase;
}

.footer-form-button {
  border-radius: 100px;
  background-color: #36a74c;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  width: 245px;
  margin-bottom: 40px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.footer-form-button:hover {
  background-color: #7a7171;
  color: #fff;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.footer-second-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 30px 0;
  order: 0;
  z-index: 1;
}

.footer-title {
  font-size: 18px;
  text-align: center;
  color: #fff;
  width: 244px;
  margin-bottom: 15px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}

.footer-social-link {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.footer-social-link:hover {
  background-color: #7a7171;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.footer-social-svg-link {
  fill: #36a74c;
  width: 50%;
}

.footer-social-svg-you {
  fill: #36a74c;
  width: 70%;
}

.footer-social-svg-f {
  fill: #36a74c;
  width: 55%;
}

.footer-social-svg-inst {
  fill: #36a74c;
  width: 50%;
}

.footer-social-link:hover .footer-social-svg-use {
  fill: #fff;
}

.footer-social-svg-use {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  fill: #36a74c;
  transition: fill 250ms ease-in-out;
}

.footer-social-svg-use-f {
  box-shadow: none;
}

.footer-bgtext-box {
  position: absolute;
  top: 22px;
  left: 20px;
  width: 205px;
}

.footer-bgtext {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.1);
  line-height: initial;
}

@media screen and (min-width:768px) {
  .footer-title {
    font-size: 28px;
    width: 333px;
    text-align: left;
    margin-bottom: 40px;
  }

  .footer-second-box {
    padding: 0;
  }

  .footer-form {
    width: 334px;
    ;
  }

  .footer-form-input {
    width: 267px;
    font-size: 18px;
    padding: 21px 0 21px 0;
  }

  .footer-form-button {
    font-size: 18px;
    width: 267px;
    padding: 22px 0 22px 0;
  }

  .footer-form-title {
    font-size: 18px;
  }

  .footer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
  }

  .footer-first-box {
    order: 0;
    padding: 0 22px 0 0;
  }

  .footer-bgtext-box {
    top: auto;
    left: auto;
    width: 369px;
    right: 40px;
    bottom: 110px;
  }

  .footer-bgtext {
    font-size: 72px;
  }
}

@media screen and (min-width:1440px) {

  .footer-container {
    padding: 104px 69px;
  }

  .footer-first-box {
    padding: 0 149px 0 0;
  }

  .footer-form {
    width: 524px;
  }

  .footer-form-title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .footer-form-input {
    width: 350px;
    margin-bottom: 32px;
  }

  .footer-form-button {
    width: 350px;
    margin-bottom: 50px;
  }

  .footer-title {
    font-size: 36px;
    width: 591px;
    margin-bottom: 48px;
  }

  .footer-second-box {
    align-items: flex-start;
  }

  .footer-bgtext {
    font-size: 144px;
    line-height: 110%;
  }

  .footer-bgtext-box {
    width: 775px;
    right: 89px;
    bottom: 56px;
  }
}